<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cool.admin.mapper.UserDetailMapper">


<update id="finishMeeting"  parameterType="java.lang.String">
    UPDATE user_detail SET participate_status= "1", sign_out_date = #{signOutDate}
    WHERE meeting_id=  #{meetingId}
    AND participate_status= "0"
</update>


</mapper>